:root {
    --offwhite: #f4efe3;
    --gray: #444;
    --light-gray: #aaa392;
    --blue: #473ef9;
    --main-font: "Fira Sans", sans-serif;
    --mono-font: "Fira Mono", monospace;
}

html,
body {
    margin: 0;
    overflow: auto;
    background-color: var(--offwhite);
    color: var(--gray);
    font-family: var(--main-font);
    font-size: 13pt;
    line-height: 1.7;
}

body {
    padding-bottom: 5rem;
}

h1 {
    font-size: 16pt;
    font-weight: 700;
    margin: 0.5rem 0;
}

a {
    color: var(--gray);
}

a:hover {
    background-color: var(--blue);
    color: var(--offwhite);
}

pre {
    font-family: var(--mono-font);
    margin: unset;
}

.mono {
    font-family: var(--mono-font);
    margin: 0 0.3rem;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 0.5rem;
}

.header h1 {
    display: inline-block;
    font-size: 16pt;
    margin-right: 2rem;
}

.header,
.content,
.links {
    padding-left: 2rem;
}

.date {
    color: var(--light-gray);
}

.links {
    display: flex;
    flex-direction: column;
}

.content {
    width: 40rem;
}
